<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | BeMyPet</title>
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <a href="#"><img class="logo" src="img/bemypet.png" alt="logo"></a>
        <nav class="nav-items">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Package</a></li>
                <li><a href="#">Adoption</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">SignUp</a></li>
            </ul>
        </nav>
    </header>
    <main>
       {{{body}}
    </main>
    <footer>
        <img class="footer-img" src="img/bemypet.png" alt="Sunburn Logo">
        <p>All Rights Reserved. Copyright 2020. <br>

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac aliquet odio. Nulla congue orci rhoncus
            lacus volutpat, ac euismod quam fringilla. Fusce pellentesque fringilla urna, sed hendrerit elit sodales
            sed. Quisque interdum ante libero, a mattis massa condimentum sed. Suspendisse eu lorem non nibh condimentum
            rhoncus vitae ac est. Nulla condimentum, nisi eu imperdiet tristique, ipsum augue scelerisque est, sed
            hendrerit orci mauris in nibh. Vestibulum id lorem ultrices elit tincidunt accumsan eu ultricies metus.
            Proin dictum massa vitae tellus venenatis, et dignissim purus feugiat. Aenean auctor posuere lacus. Proin ut
            nibh elit. Phasellus aliquam lobortis purus ac venenatis. Fusce placerat vulputate diam, ut cursus massa
            aliquam vitae.</p>
    </footer>
</body>

</html>
