<form action="/forum" method="POST" id = petForm>
    <label for="petDetail">Please post all the information regarding your pet below</label>
    <input type="text" id="petDetail" name="petDetail" placeholder="Please enter details here">
    <input type="submit" class="submit">
</form>