<section class="section-form">
    <h3>Please post all the information regarding your pet below</h3>

    <div class="post-form-box row">
   
    <form action="/forum" method="POST" id = petForm>     
        <textarea type="text" id="petDetail" name="petDetail" placeholder="Please enter details here" rows="10"></textarea>
        <input type="submit" class="submit">
    </form>

    </div>

<ul id="forum-box" class="row"></ul>

</section>


