/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

/* h1{
    text-align: center;
    font-family: 'Grand Hotel', cursive;
    color: white;
    font-size: 100px;
}
.buy-top{
    background-color: #F97C30;
    cursor: pointer;
    padding: 14px 40px;
    font-size: 18px;
    font-family: 'lato', sans-serif;
    color: white;
    border: none;
    border-radius: 2em;
    margin-top: 15px;
    
}
.heading{
    position: absolute;
    top: 45%;
    left: 10%;
    text-align: center;
}
.adopt{
    display: flex;
    margin: 0 15%;
}
.adopt p{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    text-align: justify;
}
h2{
    color: #F97C30;
    font-family: 'Grand Hotel', cursive;
    font-size: 50px;
} */
/* ---------------------------------- */

/* .schedule{
    padding: 0 10%;
    color: white;
}
.schedule h2{
    font-family: 'Grand Hotel', cursive;
    font-size: 50px;
    margin-bottom: 20px;
    border-bottom: 5px solid white;
}
.text-red{
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    margin-bottom: 10px;
}
.kelly-red{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: justify;
}
.kelly{
    display: flex;
}
.kelly img{
    width: 300px;
    padding-left: 20px;
}
.prepare{
    display: flex;
    margin: 30px 10%;
} */
/* h3{
    font-family: 'Grand Hotel', cursive;
    font-size: 50px;
    color: #E2001A;
} */
/* .prepare p{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-top: 10px;
    margin-right: 20px;
    text-align: justify;
}
.learn-button{
    background-color: #E2001A;
    cursor: pointer;
    padding: 14px 40px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    border: none;
    border-radius: 2em;
    margin-top: 15px;
}
.black-dog{
    margin: 50px 0;
} */
/* main{
    border-bottom: 5px solid white;
} */

/* .para {
    background-color: #E2001A;
    color: aliceblue;
} */

/*--------------FORUM--------------- */

.section-form {
    padding: 5% 0;
    font-family: 'lato',Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 145%;
}

h3 {
    font-family: 'lato',Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.post-form-box {
    margin-top: 2em;
}

#petForm {
    display: flex;
    flex-direction: column;
}

#petDetail {
    padding: 1% 1%;
    width: 100%;
    font-family: 'lato',Arial, Helvetica, sans-serif;
    border: .05em solid #FC8121;
}

input[type=submit] {
    width: 10%;
    padding: 1em 2em;
    margin-top: 2em;
}

#forum-box {
    margin: 2% auto;
}

#forum-box li{
    max-width: 100%;
    border: .02em solid rgb(134, 90, 255);
    margin-top: 2em;
    padding: 2%;
    border-radius: .2em;
    text-align: justify;
}

button {
    padding: 1% 3%;
    font-size: .8em;
    background-color: rgb(134, 90, 255);
    border: none;
    border-radius: 50em;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: .5em;
    letter-spacing: 1px;
}

button:hover {
    opacity: .8;
    transition: opacity .2s;
}

/*---------------------------------------------------------------------------------------------------*/
/*-----------Login Form-----------*/
/*---------------------------------------------------------------------------------------------------*/


form img {
    height: 1.250em;
}

form .registration-logo {
    display: block;
    margin: 0 auto;
    height: 10em;
}

.login-info,.signin-info {
    border: 0.063em solid #e7e7e7;
    width: 40%;
    padding: 2%;
    background-color: #fff;
    margin: 1em auto;
}
.login-info h2{
    margin-bottom: .4em;
}
label {
    font-weight: bold;
}

input[type=password],input[type=email],.signin-info input[type=text] {
    width: 100%;
    margin: .6em 0 .825em 0;
    padding: 1.5%;
    outline: none;
}

.pwd-alert {
    display: flex;
}

.pwd-alert p {
    margin-left: .5em;
}

.help-box {
    display: flex;
    margin-top: 2em;
}

.help-box img {
    margin: auto .5em auto 0;
}

.help-box a {
    font-size: 90%;
    font-weight: 400;
}

.create-btn {
    display: block;
    margin: 5em auto;
    width: 25%;
    padding: .5% 0; background-color: #FC8121;
    border: 0.031em solid #767676;
    border-radius: 0.125em;
}

/*---------------------------------------------------------------------------------------------------*/
/*-----------Signup Form-----------*/
/*---------------------------------------------------------------------------------------------------*/

.signin-info {
    margin-bottom: 5em;
}

.signin-info .create-btn {
    width: 100%;
    padding: 2% 0;
    margin: .825em auto 1em auto;
}

.signin-info .pwd-alert {
    margin-bottom: .825em;
}

.create-copy-account::before {
    display: block;
    content: "";
    clear: both;
    height: 0.031em;
    width: 20%;
    background-color: #767676;
    margin: 3em auto;
}

