/*--------------Footer--------------- */

/* footer{
    background-color: #FC8121;
    padding: 4% 2%;
    font-weight: 400;
    letter-spacing: 1px;
} */

/* footer nav {
    display: flex;
    justify-content: space-between;
} */

/* footer img {
    height: 2em;
} */

/* footer nav ul {
    display: flex;
} */

/* footer nav ul:first-of-type li {
    margin-left: 2em;
} */

/* footer nav ul:first-of-type li a{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
} */

/* footer nav ul:first-of-type li a:hover{
    color: #fc2828;
    transition: color.2s;
    
} */

/* footer p {
    display: block;
    margin-top: 3em ;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
} */

footer nav ul:last-of-type li a{
    margin-right: 2em;
}
