
/* ----------------FONTS------------------ */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


.row {
    max-width: 1200px;
    margin: 0 auto;
}

/*--------------BASIC--------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: #555555;
    font-family: 'lato',Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 145%;
    text-rendering: optimizeLegibility;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}



/*---------------------------------------------------------------------------------------------------*/
/*-----------Login Form-----------*/
/*---------------------------------------------------------------------------------------------------*/

/* 
form img {
    height: 1.250em;
}

form .registration-logo {
    display: block;
    margin: 0 auto;
    height: 10em;
}

.login-info,.signin-info {
    border: 0.063em solid #e7e7e7;
    width: 40%;
    padding: 2%;
    background-color: #fff;
    margin: 1em auto;
}
.login-info h2{
    margin-bottom: .4em;
}
label {
    font-weight: bold;
}

input[type=password],input[type=email],.signin-info input[type=text] {
    width: 100%;
    margin: .6em 0 .825em 0;
    padding: 1.5%;
    outline: none;
}

.pwd-alert {
    display: flex;
}

.pwd-alert p {
    margin-left: .5em;
}

.help-box {
    display: flex;
    margin-top: 2em;
}

.help-box img {
    margin: auto .5em auto 0;
}

.help-box a {
    font-size: 90%;
    font-weight: 400;
}

.create-btn {
    display: block;
    margin: 5em auto;
    width: 25%;
    padding: .5% 0; background-color: #FC8121;
    border: none;
    border-radius: 0.125em;
}

.errors {
    background-color: #ff6e75;
    padding: 1%;
    text-align: center;
    color: #fff;
    font-weight: 400;
    width: 70%;
    margin: .5em auto;
    border-radius: .125em;
} */

/*---------------------------------------------------------------------------------------------------*/
/*-----------Signup Form-----------*/
/*---------------------------------------------------------------------------------------------------*/

/* .signin-info {
    margin-bottom: 5em;
}

.signin-info .create-btn {
    width: 100%;
    padding: 2% 0;
    margin: .825em auto 1em auto;
}

.signin-info .pwd-alert {
    margin-bottom: .825em;
}

.create-copy-account::before {
    display: block;
    content: "";
    clear: both;
    height: 0.031em;
    width: 20%;
    background-color: #767676;
    margin: 3em auto;
} */

